@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45.4 0% 100%;
    --foreground: 45.4 0% 0%;
    --card: 45.4 0% 100%;
    --card-foreground: 45.4 0% 10%;
    --popover: 45.4 0% 95%;
    --popover-foreground: 45.4 95% 0%;
    --primary: 45.4 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 26 10% 85%;
    --muted-foreground: 45.4 0% 35%;
    --accent: 26 10% 80%;
    --accent-foreground: 45.4 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 45.4 0% 100%;
    --border: 45.4 0% 50%;
    --input: 45.4 20% 18%;
    --ring: 45.4 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 64 10% 5%;
    --foreground: 64 0% 90%;
    --card: 64 0% 0%;
    --card-foreground: 64 0% 90%;
    --popover: 64 10% 5%;
    --popover-foreground: 64 0% 90%;
    --primary: 64 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 64 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 26 10% 15%;
    --muted-foreground: 64 0% 60%;
    --accent: 26 10% 15%;
    --accent-foreground: 64 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 64 0% 90%;
    --border: 64 20% 18%;
    --input: 64 20% 18%;
    --ring: 64 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
